.bdy-pag-inicial {
    font-size: 2.5em;
    font-weight: bold;
    display: flex ;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* background: rgba(255, 192, 203, 0.548);*/
  
}


.aside, .main{
    width:50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside{
    background: #545454 ;
    color:white;
    justify-content: flex-end;
}

.main{
    background: pink ;
    color: #545454;
    position: relative;
}

img{
    width: 650px;
    height: 650px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    outline: 3px solid  #545454;
    outline-offset: 3px;
    border: none;
    border-radius: 30px;
    background:pink;
    color:#545454;
    font-weight: bold;
    font-size: 15px;
    width: 150px;
    padding: 1em;
    box-shadow: 5px 5px 5px 5px #545454;
}
button:hover{
    background: #ffffff48;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}
.btn {
    text-decoration: none;
    padding-bottom: 30px;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Cormorant Garamond', serif;
    color: #545454;
    padding: 10px 15px;
    background-color: lightpink;
    border-radius: 30px;
        
}
.btn :hover{
    background-color: #545454;
    color: lightyellow;
}

/*************************************************************/
/*----------------------------SITIO WEB-------------------------------*/
.bdy-sitio-web{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    
}
header {
    width: 100%;
    background:pink;
    display: flex;
    justify-content: flex-end;
    font-family: 'Montserrat', 'sans serif';
    box-shadow: 0px 0px 12px 14px white;
}

ul {
    list-style: none;
}

ul,
li {
    display: inline;
    margin-right: 90px;
    list-style: none;
    text-align: center;
    padding: 15px 10px;
    /*word-spacing: 8px;*/
}

a {
    text-decoration: none;
    padding-bottom: 30px;
    font-size: 20px;
    color: white;
    font-size: 20px;
}

/***************************MENU******************************/
#menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menu li > a {
    background-color: pink;
    color: #545454;
    padding: 10px 10px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    border-radius: 44px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 100ms linear;
}

#menu > li > a:hover {
    background:lightgray;
}

#menu > li > ul {
    display: none;
}
#menu > li:hover > ul {
    display: block;
}

/*************************SOBRE MI*****************************/
.contenedor{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    
}

#sobremi{
    width: 50%;
}

.quien-soy{
    text-align: center;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: #545454;
    letter-spacing: 3px;
    text-shadow: 0 3px 3px 0 white;
}

.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Cormorant Garamond', serif;
    color: #545454;
    font-size: 24px;

}

.contenedor-imagen{
    width: 50%;
}
.presentacion-img{
    width: 550px;
    height: 500px;
    margin-right: 0 auto;
    box-shadow: 0 0 0 5px rgb(253, 206, 214), 
                0 0 0 10px #ccc;
}


/*-------SECCION TRATAMIENTOS-------*/

#tratamientos{
    margin-top: 200px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 2px 0px #545454;

}


.titulo-seccion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 15px 0;
    font-weight: 200;
 
   
}

.descripcion-ttm{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: rgb(248, 161, 176);
}

.desc-tto{
    color: rgb(240, 133, 151);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
}

/*****************************************************************/
/********************************GALERIA DE IMAGENES*******************************/
.galeria{

    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 10px;
  
   
}

.titulo-galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 100px 0;
    font-weight: 200;
   
}

.contenedor-imagenes{
    display: flex;
    width: 85%;
    margin: 200px auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .imagen-galeria{
    width: 32%;
    position: relative;
    height: 300px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}

.imagen-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;/*propiedad clave para que se vean sin pixeles*/
    
}


.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0077C0;
    width: 100%;
    height: 0;
    transition: .3s ease;
    overflow: hidden;
    background-color: pink;
}

.overlay h2{
    text-align: center;
    color: #545454;
    font-size: 30px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

}

.imagen-galeria:hover .overlay{
    height: 100%;
    cursor: pointer;
    transform: rotate(360deg);
    transition: .1s;

}

/***************************************************************/
/**************************************FOOTER********************************/
footer {
    padding-top: 50px;
    height: 260px;
    background:pink;
    margin-top: 40px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    
}

.menu-footer a {
    margin-top: 150px;
    font-size: 12px;
    color: #545454;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 70px;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 44px;
    transition: all 100ms linear;
}
#menu-footer a :hover{
    background: lightslategrey;
    border-radius: 50%;
}

.iconos-footer {
    padding: 10px;
    display: block;
}

.icono{
    color: #545454;
}


.iconos-footer:hover {
    color: lightslategrey;
    border-radius: 50%;
}
.hechoconamor {
    color: #545454;
}






/*MEDIA QUERIES*/
/*
@media screen and (max-width:500px){
    body{
        flex-direction: column;

    }
    main, aside{
        width:100%;
        height: 50vh;
        justify-content: center;
    }
    aside{
        align-items:flex-end ;
    }

    main{
        align-items: flex-start;
    }
}*/






























